{% include 'header.html' %}
<div class="col-sm-6 col-sm-offset-3 panel panel-primary">
    <div class="panel-heading">
        Add Videos Here
    </div>
    <div class="panel-body">
            {% if suc_message %}
                <div class='h4 text-success'> {{suc_message}} </div>
            {% elif err_message %}
                <div class='h4 text-danger'> {{ err_message }} </div>
            {% endif %}
    <fieldset>
        <legend>Add video</legend>
        
        <form method="post" action="/finalize/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
            <label> Video Title </label>
            <input type="text" placeholder="Video Title" value="{{title}}" name='title' class="form-control">
            </div>
            
            <div class="form-group">
            <label> Video Description</label>
            <textarea class="form-control" placeholder="Video Description" name='description'>{{ description}}
            </textarea>
            </div>

            <div class="form-group">
                <label>Keywords (Comma separated)</label>
                
                <input type="text" placeholder="Keywords" value="{{ vid_tags }}" name="tags" class="form-control">
            </div>
            <div class="form-group">
                <input type="hidden" placeholder="Youtube URL" name="url" value="{{youtube_url}}" class="form-control">
            </div>

            <div class="form-group">
                <label>Edit video</label>
                <input type="checkbox" name="editVideo"/>
            </div>
            <div class="form-group">
                <label>Start time</label>
                <input type="text" placeholder="HH:MM:SS" name="start_time" class="form-control">
            </div>

            <div class="form-group">
                <label>End time</label>
                <input type="text" placeholder="HH:MM:SS" name="end_time" class="form-control">
            </div>
            
            <input type="hidden" name="category" value='22'>
            
            <div class="form-group">
                <label>Thumbnail</label> 
                <input type="file" placeholder="Thumbnail" name='thumbnail' class="form-control">
            </div>
            
            <div class="form-group">
                    <label>Privacy Status</label>

                    <select  class="form-control" name="privacyStatus">
                        <option value='public'>Public</option>
                        <option value='private'>Private</option>
                        <option value="unlisted">Unlisted</option>
                    </select>
            </div>

            <div class="form-group">
                <label>Channel</label>
                <div class="h4">{{ channel.name }}</div>
                <input type="hidden"  value="{{ channel.pk }}" name="channel">
            </div>
            
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </fieldset>
    </div>
</div>