<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<title>YotoMata,Motherfucker!</title>
<div class="well">
    <span class='h3'><a href='/upload/'>+Video | </a> </span> 
    <span class="h3"><a href='/channels/'>Channels | </a> </span> 
    <span class="h3"><a href='/auth/'>+Channel | </a> </span>
    <span class="h3"><a  href='/notifications/'>Notifications | </a> </span>
    <span class="h3"><a target="_blank" href='/admin/'>Admin | </a> </span>
    
    
    <span class="h4"><a href='/logout/'>Log out  </a> </span>
</div>